<nav class="navbar navbar-expand-sm navDark">
    <div class="container-fluid">
        <a class="navbar-brand col" href="/">ToDo application</a>
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/home">Home</a>
               <!-- <div ngIf="loggedIn"> Logged In</div>
                <div ngIf="!loggedIn"> Logged Out</div> -->
                <a class="nav-link" routerLink="/login">Login</a>
                <a class="nav-link" routerLink="/register">Register</a>
            </div>
        </div>
</nav>