<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand col" href="/">ToDo application</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link" [routerLink]="areLinksEnabled ? 'home' : null">Home</a>
                <a class="nav-item nav-link" [routerLink]="areLinksEnabled ? 'login' : null">About</a>
                <a class="nav-item nav-link" [routerLink]="areLinksEnabled ? 'home' : null">Products</a>
                <a class="nav-item nav-link" [routerLink]="areLinksEnabled ? 'contact' : null">Contact</a>
            </div>
        </div>
</nav>

<div class="container-fuild ">
    <router-outlet></router-outlet>
</div>