<div class="card p-3 m-5">
    <h2>Task - edit</h2>
    <form [formGroup]="taskEditForm" (ngSubmit)="onSubmit()" class="form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Enter title" formControlName="title"
                name="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Enter description"
                formControlName="description" name="description">
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <input type="text" class="form-control" id="status" placeholder="Enter status" formControlName="status"
                name="status">
        </div>
        <mat-form-field class="form-group mt-4">
            <mat-label for="dueDate">Due Date</mat-label>
            <input matInput [matDatepicker]="picker" id="dueDate" formControlName="dueDate" name="dueDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <button type="button" class="btn btn-primary mt-2 me-2" (click)="back()">Back</button>
        <button type="submit" class="btn btn-primary mt-2 me-2">Submit Edits</button>
        <button type="button" class="btn btn-danger mt-2 me-2" (click)="deleteTask()">Delete Task</button>
    </form>
</div>