<div class="card m-5" style="max-width: 600px;">
    <div class="card-body p-4">
        <h2>Register</h2>
        <form #regForm="ngForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width: 90%;">

            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" placeholder="Enter first name" formControlName="firstName" name="firstname">
                <div *ngIf="firstName?.invalid && firstName?.touched" class="text-danger">First Name is Required!</div>
            </div>
            
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Enter last name" formControlName="lastName" name="lastname">
                <div *ngIf="lastName?.invalid && firstName?.touched" class="text-danger">Last Name is Required!</div>
            </div>
            
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username" name="username">
                <div *ngIf="username?.invalid && username?.touched" class="text-danger">Username is Required!</div>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password" name="password">
                <div *ngIf="password?.invalid && password?.touched" class="text-danger">Password is Required! <br> Minimun length 8</div>
            </div>

            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" placeholder="Confirm password" formControlName="confirmPassword" name="password2">
                <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="text-danger">Confirm Password is Required!</div>
                <div *ngIf="!passwordMatch" class="text-danger">Passwords Must Match</div>
            </div>
            <button type="submit" class="btn btn-primary" >Register</button>
        </form>
    </div>
</div>